<ion-header class="bar bar-header bar-positive">
 <ion-toolbar>
    <ion-title>
     Registration Here
    </ion-title>
  </ion-toolbar>
  <!--<div class="bar bar-header bar-positive">
   <h1 class = "title">Header Buttons</h1>
    </div>-->
</ion-header>

<!--<ion-content>
<div class="bar bar-header bar-calm">
<p class="balanced">Paragraph 1.......................................</p>

</div>

<div class="button button-stable">
<p class="energized">Paragraph 2........................................</p>

</div>


</ion-content>
-->

<ion-content>
 

  <div class="list">
      <label class="item item-input">
      <input type="text" placeholder="Name">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Father's Name">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Age">
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Phone Number">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="City">
            </label>
  
            <label class="item item-input">
              <input type="email" placeholder="Email Id">
              </label>
  </div>
  <!--<div class="bar bar-footer">
    
    <h1 class="title">Footer</h1>

  </div>-->

  <ion-button class="button button-stable" (click)="presentActionSheet()">Registration</ion-button>

  <br>
<!--   <ion-button class="button1 button-stable" (click)="presentActionSheet()">Action Sheet</button>
 --><!--   <ion-button class = "button button-assertive button-outline">
 -->
  <ion-footer><div class="bar bar-footer bar-assertive" ><h1 class="title">Footer</h1></div></ion-footer>

 <!-- <ion-button class="button icon icon-left ion-home">Home</ion-button>-->

  <!--<br>
  <ion-button class = "button button-assertive button-outline">
      button-assertive
   </ion-button>
   <ion-button color="secondary">Secondary</ion-button>
   -->

   <div class="card">
     <div class="item item-avatar">
       <img src="/src/assets/icon/cam.png">
       <h2>Card Name</h2>
     </div>

     <div class="item item-body">
       <img class="full-image" src="/src/assets/icon/cam.png"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget 
       pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. 
       Nam tristique elit massa, quis faucibus augue finibus ac.
     </div>
   </div>

   <!-- <ion-action-sheet>

      <ion-button>Registration</ion-button>

   </ion-action-sheet> -->

<!--The below CODE Deals with the creation of Radio Group for sngle select-->

   <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Name</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Biff</ion-label>
          <ion-radio slot="start" value="biff" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Griff</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Buford</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
        
        <ion-item>
          <ion-label>Prabhat</ion-label>
          <ion-radio slot="start" value="prabhat"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

<!--The below CODE Deals with the creation of Ionic Range for sngle select-->



    <ion-list>
      <ion-item>
        <ion-range color="danger" pin ="true"></ion-range>
      </ion-item>

      <ion-item>
        <ion-range min="-200" max ="200" color="secondary">
          <ion-label slot="start">-200</ion-label>
          <ion-label slot="end">200</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
    <ion-item>
        <ion-range min="20" max="80" step="2">
          <ion-icon size="small" slot="start" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
          <ion-range min="1000" max="2000" step="100" snaps="true" ticks="false" color="secondary"></ion-range>
        </ion-item>
      
        <ion-item>
          <ion-range dualKnobs="true" min="21" max="72" step="3" snaps="true"></ion-range>
        </ion-item>
</ion-content>

